<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../stylesheets/about.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <nav>
        <div class="menu">
            <div class="logo">
                <a href="/">Luna AstroTools</a>
            </div>
            <ul>
                <li><a href="/login">Log In</a></li>
                <li><a href="/users">Sign Up</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/faq">FAQ</a></li>
            </ul>
        </div>
    </nav>
    <div class="img"></div>
    <div class="center">
        <div class="title">What is Luna AstroTools?</div>
        <div class="sub_title">
            Luna AstroTools is an online platform developed by Alexandre Gil Lujan as a final course completion project for the Faculty of Computer Engineering at the Pontifical Catholic University of Campinas, Brazil.
            The platform was developed with the objective of helping amateur astrophotographers in the processing of astronomical photos, having resources for beginners and experts in the field. It is completely free and copyright-free.
        </div>
    </div>
</body>

</html>