<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="../stylesheets/faq.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>

  <nav>
    <div class="menu">
        <div class="logo">
          <a href="/">Luna AstroTools</a>
        </div>
        <ul>
            <li><a href="/login">Log In</a></li>
            <li><a href="/users">Sign Up</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/faq">FAQ</a></li>
        </ul>
    </div>
  </nav>

  <div class="set">
    <div class="accordion">
      <div class="image-box">
        <img src="../images/image-2.jpeg">
      </div>
      <div class="accordion-text">
        <div class="title">FAQ</div>
      <ul class="faq-text">
        <li>
          <div class="question-arrow">
            <span class="question">What image formats are supported when processing photos?</span>
            <i class="bx bxs-chevron-down arrow"></i>
          </div>
          <p>Luna AstroTools only supports RAW formats and their extensions, such as: ".cr2", ".nef", ".arf", among others. </p>
          <span class="line"></span>
        </li>
        <li>
          <div class="question-arrow">
            <span class="question">How many photos can I upload to the platform at once?</span>
            <i class="bx bxs-chevron-down arrow"></i>
          </div>
          <p>You can upload up to 10 photos at a time to an existing or new album. There are no limits on how many uploads can be made.</p>
          <span class="line"></span>
        </li>
        <li>
          <div class="question-arrow">
            <span class="question">What kind of algorithm is used to process astronomical photos?</span>
            <i class="bx bxs-chevron-down arrow"></i>
          </div>
          <p>Luna AstroTools uses OpenCV and RawPy to pre-process and stack selected photographs, returning a good quality image to the user.</p>
          <span class="line"></span>
        </li>
        <li>
          <div class="question-arrow">
            <span class="question">What is the automatic process?</span>
            <i class="bx bxs-chevron-down arrow"></i>
          </div>
          <p>The automatic process is intended for less experienced users who don't want to spend a lot of time setting up the processing. The platform will automatically configure the process according to the selected photos. The quality may not be the best when compared to the manual process done correctly. There are no limits on how many process can be made</p>
          <span class="line"></span>
        </li>
        <li>
          <div class="question-arrow">
            <span class="question">What is the manual process?</span>
            <i class="bx bxs-chevron-down arrow"></i>
          </div>
          <p>The manual process is intended for more experienced users who want to configure the processing. At the end of the process, a preview will be returned, which can be discarded or saved in the repository. The quality of the final image can vary according to the photos used and the parameters chosen for the process. There are no limits on how many process can be made</p>
          <span class="line"></span>
        </li>
      </ul>
      </div>
    </div>
  </div>
  
  <script>
    let li = document.querySelectorAll(".faq-text li");
    for (var i = 0; i < li.length; i++) {
      li[i].addEventListener("click", (e)=>{
        let clickedLi;
        if(e.target.classList.contains("question-arrow")){
          clickedLi = e.target.parentElement;
        }else{
          clickedLi = e.target.parentElement.parentElement;
        }
      clickedLi.classList.toggle("showAnswer");
      });
    }
  </script>

</body>
</html>

