<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Histogram</title>
    <link rel="stylesheet" href="../stylesheets/histogram.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <div class="logo_name">Luna AstroTools</div>
      <i class='bx bxs-moon' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <li>
        <a href="/account">
          <i class='bx bxs-user-account' ></i>
          <span class="links_name">Account</span>
        </a>
        <span class="tooltip">Account</span>
      </li>
      <li>
        <a href="/processed">
          <i class='bx bx-image' ></i>
          <span class="links_name">Processed Photos</span>
        </a>
        <span class="tooltip">Processed Photos</span>
     </li>
     <li>
      <a href="/repository">
        <i class='bx bx-folder' ></i>
        <span class="links_name">Unprocessed Photos</span>
      </a>
      <span class="tooltip">Unprocessed Photos</span>
     </li>
     <li>
      <a href="/upload">
        <i class='bx bx-cloud-upload'></i>
        <span class="links_name">Upload Photos</span>
      </a>
      <span class="tooltip">Upload Photos</span>
     </li>
     <li>
      <a href="/a-process">
        <i class='bx bx-fast-forward-circle' ></i>
        <span class="links_name">Automatic Process</span>
      </a>
      <span class="tooltip">Automatic Process</span>
     </li>
     <li>
      <a href="/m-process">
        <i class='bx bx-play-circle'></i>
        <span class="links_name">Manual Process</span>
      </a>
      <span class="tooltip">Manual Process</span>
     </li>
     <li>
      <a href="/histogram">
        <i class='bx bx-line-chart-down'></i>
        <span class="links_name">Histogram</span>
      </a>
      <span class="tooltip">Histogram</span>
     </li>
     <li>
      <a href="/image-editor">
        <i class='bx bx-paint'></i>
        <span class="links_name">Edit Image</span>
      </a>
      <span class="tooltip">Edit Image</span>
     </li>
     <li class="profile">
         <div class="profile-details">
            <div class="name_job">
              <div class="name">User</div>
              <div class="job"><%= user %></div>
            </div>
         </div>
         <form id="LogOut" action="/login/logoff" method="POST">
          <a href="#" onclick="document.getElementById('LogOut').submit();">
            <i class='bx bx-log-out' id="log_out" ></i>
          </a>
        </form>
      </li>
    </ul>
  </div>
  <section class="home-section">
    <div class="text">Generate Histogram</div>
    <p>
    <div class="drop-area" id="drop">
        <form action="/histogram/generate" method="POST">
            <br>
            <p>Please select the photo:</p>
            <fieldset>
                <select name="photo" id="photo">
                    <% if(images){ %>
                        <% for(var image of images) { %>
                            <option value="<%=image%>"><%=image%></option>
                        <% } %>
                    <% }else { %>
                        <p class="card card-body text-center display-4 my-4" style="color:aliceblue">No images</p>
                    <% } %>
                </select>
            </fieldset>
            <br>
            <p>Please select the type of Histogram:</p>
            <fieldset>
                <select name="type" id="type">
                    <option value="1">Grayscale Histogram</option>
                    <option value="2">Color Histogram</option>
                    <option value="3">Normalized Grayscale Histogram</option>
                    <option value="4">Normalized Color Histogram</option>
                    <option value="5">2D Color Histogram</option>
                </select>
            </fieldset> 
            <br>
            <button type="submit">Next</button>
        </form>
    </div> 
    </p>
  </section>
  
  <script src="../javascripts/left_bar.js"></script>
  
</body>
</html>