<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../stylesheets/index.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <nav>
        <div class="menu">
            <div class="logo">
                <a href="/">Luna AstroTools</a>
            </div>
            <ul>
                <li><a href="/login">Log In</a></li>
                <li><a href="/users">Sign Up</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/faq">FAQ</a></li>
            </ul>
        </div>
    </nav>
    <div class="img"></div>
    <div class="center">
        <div class="title">The Modern Platform for the Astrophotographer.</div>
        <div class="sub_title">Process your astronomical photographs quickly and easily.</div>
        <div class="btns">
            <button onclick="location.href='/about'">Learn More</button>
            <button onclick="location.href='/users'">Sign Up</button>
        </div>
    </div>
</body>

</html>