<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Upload</title>
    <link rel="stylesheet" href="../stylesheets/upload.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <div class="logo_name">Luna: AstroTools</div>
      <i class='bx bxs-moon' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <li>
        <a href="/account">
          <i class='bx bxs-user-account' ></i>
          <span class="links_name">Account</span>
        </a>
        <span class="tooltip">Account</span>
      </li>
      <li>
        <a href="/processed">
          <i class='bx bx-image' ></i>
          <span class="links_name">Processed Photos</span>
        </a>
        <span class="tooltip">Processed Photos</span>
     </li>
     <li>
      <a href="/repository">
        <i class='bx bx-folder' ></i>
        <span class="links_name">Unprocessed Photos</span>
      </a>
      <span class="tooltip">Unprocessed Photos</span>
     </li>
     <li>
      <a href="/upload">
        <i class='bx bx-cloud-upload'></i>
        <span class="links_name">Upload Photos</span>
      </a>
      <span class="tooltip">Upload Photos</span>
     </li>
     <li>
      <a href="/a-process">
        <i class='bx bx-fast-forward-circle' ></i>
        <span class="links_name">Automatic Process</span>
      </a>
      <span class="tooltip">Automatic Process</span>
     </li>
     <li>
      <a href="/m-process">
        <i class='bx bx-play-circle'></i>
        <span class="links_name">Manual Process</span>
      </a>
      <span class="tooltip">Manual Process</span>
     </li>
     <li class="profile">
         <div class="profile-details">
            <div class="name_job">
              <div class="name">User</div>
              <div class="job"><%= user %></div>
            </div>
         </div>
         <form id="LogOut" action="/login/logoff" method="POST">
          <a href="#" onclick="document.getElementById('LogOut').submit();">
            <i class='bx bx-log-out' id="log_out" ></i>
          </a>
        </form>
      </li>
    </ul>
  </div>
  <section class="home-section">
    <div class="text">Upload</div>
    <p>
      <div class="drop-area" id="drop">
        <h5>Select your RAW files</h5>
        <form class="mt-4" action="/upload/photo" method="POST" enctype="multipart/form-data">
          <br>
          <p>Where would you like to upload your files?</p>
          <fieldset id="album">
            <input type="radio" value="new" name="album">
            <label for="album">New Album</label>
            <input type="radio" value="exist" name="album">
            <label for="album">Existing Album</label>
            <br>
            <input type="text" id="newAlbum" name="newAlbum" placeholder="New Album Name">
            <select name="existAlbum" id="existAlbum">
              <% if(folders){ %>
                <% for(var folder of folders) { %>
                  <option value="<%=folder%>"><%=folder%></option>
                <% } %>
              <% }else { %>
                <p class="card card-body text-center display-4 my-4" style="color:aliceblue">No album</p>
              <% } %>
            </select>
          </fieldset>
          <br>
          <input type="file" name="multi-files" multiple id="files" class="form-control-file border"/>
          <button type="submit" class="button">Submit</button>
        </form>
      </div> 
      <div id="list" class="mdl-grid"></div>
    </p>
  </section>
  
  <script src="../javascripts/left_bar.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script>
    $('input[name="album"]').click(function(e) {
      if(e.target.value === 'new') {
        $('#newAlbum').show();
        $('#existAlbum').hide();
      } else {
        $('#newAlbum').hide();
        $('#existAlbum').show();
      }
    })
    $('#newAlbum').hide();
    $('#existAlbum').hide();
  </script>

</body>
</html>