<!doctype html>
<html>

  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:100,300,500">
    <link rel="stylesheet" href="../stylesheets/upload.css">
    <script src="https://cdn.jsdelivr.net/npm/dcraw"></script>
    <script src="../javascripts/rawPreview.js" defer></script>
    <title>Upload</title>
  </head>

  <body>
    <div class="drop-area" id="drop">
      <h5>Drop RAW files here</h5>
      <form class="mt-4" action="/photo/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="multi-files" multiple id="files" class="form-control-file border"/>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div> 
    <div id="list" class="mdl-grid"></div>
  </body>

</html>